body {
  margin: 0; }

/*-------------------
 * #WRAPPER BLOCK
 * ------------------ */
.wrapper {
  margin: 0 auto;
  width: 67.1%; }

/*-------------------
 * #NAVIGATION BLOCK
 * ------------------ */
.nav {
  width: 100%; }
  .nav__menu {
    width: 65.95745%;
    background-color: #d7d8d9;
    padding: 0; }
  .nav__menu-item {
    display: inline-block;
    padding: 0 4px 0 2.41935%;
    line-height: 30px;
    font-size: 1.125rem;
    font-family: "PT Sans";
    color: #333333; }
    .nav__menu-item_active {
      background-color: #333333;
      color: #FFF;
      padding: 0 2.09677%;
      text-shadow: #a7a7a7 1px 1px 0; }

/*-------------------
 * #SLIDER BLOCK
 * ------------------ */
.slider {
  width: 100%; }
  .slider__slide-img {
    display: inline-block;
    vertical-align: top;
    margin-top: 4px; }
  .slider__text-wrapper {
    display: inline-block;
    width: 34.92063%; }
  .slider__header {
    font-size: 1.875rem;
    font-weight: normal;
    font-family: "PT Serif";
    color: #c80000;
    line-height: 1.2;
    margin-top: 12px;
    margin-left: 6.5%; }
  .slider__text {
    font-size: 14px;
    font-family: "PT Sans";
    color: #333333;
    margin-top: 12px;
    margin-left: 7.5%;
    line-height: 17px; }
  .slider__controls {
    height: 32px;
    margin-top: 34px;
    margin-left: 56%;
    width: 115px; }
  .slider__left {
    display: inline-block;
    vertical-align: top; }
  .slider__slide-number {
    display: inline-block;
    vertical-align: top;
    margin: 6px 0 0 5px; }
  .slider__slider-part {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px; }
  .slider__right {
    display: inline-block;
    vertical-align: top;
    margin-left: 5px; }
  .slider__bottom-stripe {
    margin: 0 0 0 1px; }

/*-------------------
 * #MAIN NEWS BLOCK
 * ------------------ */
.main-news {
  width: 100%; }
  .main-news__title-section {
    margin: 0; }
  .main-news__title {
    display: inline-block;
    font-size: 1.5rem;
    font-family: "PT Sans";
    color: #333333;
    line-height: 1.25;
    font-weight: normal;
    margin-top: 16px;
    margin-left: 0.31746%; }
  .main-news__title-stripe {
    display: inline-block; }
  .main-news__news-item {
    display: inline-block;
    margin: 0 13px 0 0;
    width: 22.69841%;
    vertical-align: top; }
    .main-news__news-item_no-margin {
      margin-right: 0; }
  .main-news__item-text {
    margin: 0 0 0 0;
    line-height: 14px; }

/*-------------------
 * #OTHER NEWS BLOCK
 * ------------------ */
.other-news-wrapper {
  margin: 22px 0 0 0;
  width: 100%; }

.other-news {
  display: inline-block;
  width: 63.87097%; }

/*-------------------
 * #LAST NEWS BLOCK
 * ------------------ */
.last-news__title-section {
  margin: 0; }
.last-news__title {
  display: inline-block;
  font-size: 24px;
  font-family: "PT Sans";
  color: #333333;
  line-height: 1.25;
  font-weight: normal;
  margin: 16px 0 0 2px; }
.last-news__title-stripe {
  display: inline-block; }
.last-news__list {
  padding-left: 4.29293%;
  width: 58.87097%;
  margin: 0;
  line-height: 25px;
  font-size: 0.875rem; }

/*-------------------
 * #NEWSFEED BLOCK
 * ------------------ */
.newsfeed {
  margin-top: 10px; }
  .newsfeed__title-section {
    margin: 0; }
  .newsfeed__title {
    display: inline-block;
    font-size: 1.5rem;
    font-family: "PT Sans";
    color: #333333;
    line-height: 1.25;
    font-weight: normal;
    margin: 16px 0 0 2px; }
  .newsfeed__title-stripe {
    display: inline-block; }
  .newsfeed__top-news-section {
    margin: 6px 0 0 0; }
  .newsfeed__top-news-image {
    display: inline-block; }
  .newsfeed__top-news-title {
    display: inline-block; }
  .newsfeed__top-news-title {
    vertical-align: top;
    margin: 5px 0 0 0;
    width: 44.35484%;
    font-weight: normal;
    line-height: 21px; }
  .newsfeed__list {
    margin: 0;
    padding-left: 4.67532%;
    line-height: 22px;
    width: 57.74194%;
    font-size: 0.875rem; }

/*-------------------
 * #NEWS-VIDEOS BLOCK
 * ------------------ */
.news-videos {
  display: inline-block;
  width: 33%;
  margin: 20px 0 0 0;
  vertical-align: top; }
  .news-videos__news-item {
    margin: 0px 0 20px 0;
    position: relative;
    width: 220px; }
  .news-videos__camera-image {
    position: absolute;
    z-index: 3;
    top: 114px;
    left: 7px; }
  .news-videos__item-text {
    font-size: 18px;
    line-height: 18px;
    margin: 0; }

/*-------------------
 * #MAIN-CONTENT-WRAPPER BLOCK
 * ------------------ */
.main-content-wrapper {
  display: inline-block;
  width: 63%; }

/*-------------------
 * #VIDEO BLOCK
 * ------------------ */
.video {
  display: inline-block;
  width: 32%;
  vertical-align: top;
  margin-left: 2.5974%; }
  .video__title-section {
    margin: 0; }
  .video__left-stripe {
    display: inline-block;
    margin: 30px 0 0 0; }
  .video__title {
    display: inline-block;
    font-size: 1.1rem;
    font-family: "PT Sans";
    color: #6a0099;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: top;
    margin: 19px 0 0 4px; }
  .video__right-stripe {
    display: inline-block;
    margin: 30px 0 0 0; }
  .video__video-item {
    position: relative;
    margin: 8px 0 0 0; }
  .video__screenshot {
    display: inline-block; }
  .video__play-pic {
    position: absolute;
    top: 65px;
    left: 5px; }
  .video__header {
    display: inline-block;
    color: grey;
    font-size: 14px;
    font-family: "PT Sans";
    font-weight: normal;
    margin: -3px 0 0 8px;
    vertical-align: top;
    width: 145px; }
  .video__bottom-section {
    margin: 12px 0 0 0;
    font-size: 1.1rem;
    font-family: "PT Sans";
    color: #3d76cc; }
  .video__show-more {
    text-decoration: none; }
  .video__bottom-stripe {
    vertical-align: top; }

@media screen and (max-width: 1080px) {
  .wrapper {
    width: 100%;
    margin: 0;
    text-align: center; }

  .main-content-wrapper {
    width: 100%;
    margin: 0;
    text-align: center; }

  .nav {
    display: block;
    width: 100%;
    text-align: center; }
    .nav__menu {
      display: block;
      width: 100%;
      text-align: center; }

  .slider {
    display: block;
    width: 100%;
    text-align: center; }

  .newsfeed {
    display: block;
    width: 100%;
    text-align: center; }
    .newsfeed__title-section {
      text-align: left; }
    .newsfeed__list {
      display: block;
      width: 100%;
      text-align: left; }
    .newsfeed__top-news-section {
      text-align: left; }

  .main-news {
    display: block;
    width: 100%;
    text-align: center; }

  .last-news {
    display: block;
    width: 100%;
    text-align: left; }

  .other-news-wrapper {
    display: block;
    width: 100%;
    text-align: center; }

  .other-news {
    display: block;
    width: 100%;
    text-align: center; }

  .news-videos {
    display: block;
    width: 100%;
    text-align: left; }
    .news-videos__news-item {
      text-align: left; }

  .video {
    display: block;
    width: 100%;
    text-align: left; } }
@media screen and (max-width: 1400px) {
  .main-news__title-stripe,
  .slider__bottom-stripe,
  .video__right-stripe,
  .last-news__title-stripe,
  .video__left-stripe,
  .newsfeed__title-stripe,
  .video__bottom-stripe {
    display: none; }

  html {
    font-size: 12px; } }

/*# sourceMappingURL=index.css.map */
