body
  margin: 0
/*-------------------
  #WRAPPER BLOCK
  ------------------*/
.wrapper
  margin: 0 auto
  width: 67.1%  // 940 / 1400

/*-------------------
  #NAVIGATION BLOCK
  ------------------*/
.nav
  width: 100%  // 630 / 940
  &__menu
    width: 65.957446808511%  // 620 / 940
    background-color: #d7d8d9
    padding: 0

  &__menu-item
    display: inline-block
    padding: 0 4px 0 2.41935483871%
    line-height: 30px
    font-size: 1.125rem
    font-family: "PT Sans"
    color: rgb(51, 51, 51)
    &_active
      background-color: #333333
      color: #FFF
      padding: 0 2.096774193548%
      text-shadow: #a7a7a7 1px 1px 0
/*-------------------
  #SLIDER BLOCK
  ------------------*/
.slider
  width: 100%

  &__slide-img
    display: inline-block
    vertical-align: top
    margin-top: 4px
  &__text-wrapper
    display: inline-block
    width: 34.920634920635%  //220px/630px
  &__header
    font-size: 1.875rem
    font-weight: normal
    font-family: "PT Serif"
    color: rgb(200, 0, 0)
    line-height: 1.2
    margin-top: 12px
    margin-left: 6.5% // 16px/630px
  &__text
    font-size: 14px
    font-family: "PT Sans"
    color: rgb(51, 51, 51)
    margin-top: 12px
    margin-left: 7.5%
    line-height: 17px
  &__controls
    height: 32px
    margin-top: 34px
    margin-left: 56%
    width: 115px
  &__left
    display: inline-block
    vertical-align: top
  &__slide-number
    display: inline-block
    vertical-align: top
    margin: 6px 0 0 5px

  &__slider-part
    display: inline-block
    vertical-align: top
    margin-left: 10px
  &__right
    display: inline-block
    vertical-align: top
    margin-left: 5px
  &__bottom-stripe
    margin: 0 0 0 1px
/*-------------------
  #MAIN NEWS BLOCK
  ------------------*/
.main-news
  width: 100%
  &__title-section
    margin: 0
  &__title
    display: inline-block
    font-size: 1.5rem
    font-family: "PT Sans"
    color: rgb(51, 51, 51)
    line-height: 1.25
    font-weight: normal
    margin-top: 16px
    margin-left: 0.31746031746%   //2px/630px
  &__title-stripe
    display: inline-block
  &__news-item
    display: inline-block
    margin: 0 13px 0 0
    width: 22.698412698413% //143/630
    vertical-align: top

    &_no-margin
      margin-right: 0
  &__item-text
    margin: 0 0 0 0
    line-height: 14px
/*-------------------
  #OTHER NEWS BLOCK
  ------------------*/
.other-news-wrapper
  margin: 22px 0 0 0
  width: 100%

.other-news
  display: inline-block
  width: 63.870967741935%
/*-------------------
  #LAST NEWS BLOCK
  ------------------*/
.last-news
  &__title-section
    margin: 0
  &__title
    display: inline-block
    font-size: 24px
    font-family: "PT Sans"
    color: rgb(51, 51, 51)
    line-height: 1.25
    font-weight: normal
    margin: 16px 0 0 2px
  &__title-stripe
    display: inline-block
  &__list
    padding-left: 4.292929292929%
    width: 58.870967741935%
    margin: 0
    line-height: 25px
    font-size: 0.875rem
/*-------------------
  #NEWSFEED BLOCK
  ------------------*/
.newsfeed
  margin-top: 10px

  &__title-section
    margin: 0
  &__title
    display: inline-block
    font-size: 1.5rem
    font-family: "PT Sans"
    color: rgb(51, 51, 51)
    line-height: 1.25
    font-weight: normal
    margin: 16px 0 0 2px
  &__title-stripe
    display: inline-block
  &__top-news-section
    margin: 6px 0 0 0
  &__top-news-image
    display: inline-block
  &__top-news-title
    display: inline-block
  &__top-news-title
    vertical-align: top
    margin: 5px 0 0 0
    width: 44.354838709677%
    font-weight: normal
    line-height: 21px
  &__list
    margin: 0
    padding-left: 4.675324675325%
    line-height: 22px
    width: 57.741935483871%
    font-size: 0.875rem
/*-------------------
  #NEWS-VIDEOS BLOCK
  ------------------*/
.news-videos
  display: inline-block
  width: 33%
  margin: 20px 0 0 0
  vertical-align: top

  &__news-item
    margin: 0px 0 20px 0
    position: relative
    width: 220px
  &__camera-image
    position: absolute
    z-index: 3
    top: 114px
    left: 7px
  &__item-text
    font-size: 18px
    line-height: 18px
    margin: 0
/*-------------------
  #MAIN-CONTENT-WRAPPER BLOCK
  ------------------*/
.main-content-wrapper
  display: inline-block
  width: 63%
/*-------------------
  #VIDEO BLOCK
  ------------------*/
.video
  display: inline-block
  width: 32%
  vertical-align: top
  margin-left: 2.597402597403%
  &__title-section
    margin: 0
  &__left-stripe
    display: inline-block
    margin: 30px 0 0 0
  &__title
    display: inline-block
    font-size: 1.1rem
    font-family: "PT Sans"
    color: rgb(106, 0, 153)
    font-weight: bold
    text-transform: uppercase
    vertical-align: top
    margin: 19px 0 0 4px
  &__right-stripe
    display: inline-block
    margin: 30px 0 0 0
  &__video-item
    position: relative
    margin: 8px 0 0 0
  &__screenshot
    display: inline-block
  &__play-pic
    position: absolute
    top: 65px
    left: 5px
  &__header
    display: inline-block
    color: grey
    font-size: 14px
    font-family: "PT Sans"
    font-weight: normal
    margin: -3px 0 0 8px
    vertical-align: top
    width: 145px
  &__bottom-section
    margin: 12px 0 0 0
    font-size: 1.1rem
    font-family: "PT Sans"
    color: rgb(61, 118, 204)
  &__show-more
    text-decoration: none
  &__bottom-stripe
    vertical-align: top


@media screen and (max-width: 1080px)
  .wrapper
    width: 100%
    margin: 0
    text-align: center
  .main-content-wrapper
    width: 100%
    margin: 0
    text-align: center
  .nav
    display: block
    width: 100%
    text-align: center
    &__menu
      display: block
      width: 100%
      text-align: center
  .slider
    display: block
    width: 100%
    text-align: center
  .newsfeed
    display: block
    width: 100%
    text-align: center
    &__title-section
      text-align: left
    &__list
      display: block
      width: 100%
      text-align: left
    &__top-news-section
      text-align: left
  .main-news
    display: block
    width: 100%
    text-align: center
  .last-news
    display: block
    width: 100%
    text-align: left
  .other-news-wrapper
    display: block
    width: 100%
    text-align: center
  .other-news
    display: block
    width: 100%
    text-align: center
  .news-videos
    display: block
    width: 100%
    text-align: left
    &__news-item
      text-align: left
  .video
    display: block
    width: 100%
    text-align: left

@media screen and (max-width: 1400px)
  .main-news__title-stripe,
  .slider__bottom-stripe,
  .video__right-stripe,
  .last-news__title-stripe,
  .video__left-stripe,
  .newsfeed__title-stripe,
  .video__bottom-stripe
    display: none
  html
    font-size: 12px